﻿@model ReservationFramework.Models.Facility

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

@foreach (ReservationFramework.Models.Branch branch in Model.Branches)
{
    <div class="col-lg-8">
        <h2>@branch.Name</h2>
        <h6>City: @branch.City.Name</h6>
        <h6>Contact Number: @branch.ContactNumber</h6>
        <p>This is a brief discription about this branch</p>
        <p><a class="btn btn-default" href="@Url.Action("Services", "User", new { branchID = branch.ID })">Push Me! &raquo;</a></p>
    </div>
}


