﻿@model List<ReservationFramework.Models.ServiceViewModel>

@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

@foreach (ReservationFramework.Models.ServiceViewModel service in Model.ToList())
{
    <div class="col-lg-8">
        <h2>@service.Name</h2>
        <h6>Rate: @service.Rate</h6>
        <h6>Reservation Count: @service.ReservationsCount</h6>
        <h6>Time Slots ==></h6>
        @foreach (ReservationFramework.Models.CellsViewModel time in service.TimeSlots)
        {
            <button type="button" class="btn btn-primary">@time.StartTime - @time.EndTime</button>
        }

        <p>This is a brief discription about this service</p>
        <p><a class="btn btn-default" href="@Url.Action("Details", "Branches", new { id = service.ID })">Push Me! &raquo;</a></p>
    </div>
}




