﻿@model List<ReservationFramework.Models.ServiceViewModel>

@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Reserve";
}
<head>
    <title>Reserve your service!</title>
    <link rel="stylesheet" type="text/css" href="~/Content/dashboard.css">

</head>

<h2>Reserve</h2>

<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Filters <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
    </ul>

</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="form-group input-group-sm">
        @Html.LabelFor(model => model.First().TimeSlots.First().Date)
        @Html.TextBoxFor(model => model.First().TimeSlots.First().Date, new { @class = "form-control datepicker", placeholder = "Enter Drop-off date here..." })
        @Html.ValidationMessageFor(model => model.First().TimeSlots.First().Date)
    </div>

    <div class="row" id="services">
        @Html.Partial("../User/ServicesSlot", Model)
    </div>
</div>


<script type="text/javascript">

    function sendReservation(serviceID, cellID) {

        // Get attr by ID
        var element = $('#' + serviceID + '_' + cellID);
        var startTime = element.attr('startTime');
        var endTime = element.attr('endTime');
        var date = $('.datepicker').val();


        $.ajax({
            type: 'POST',
            url: '/api/Reservations/Create',
            data: {
                StartTime: startTime, EndTime: endTime, Date: date, UserID: '@User.Identity.GetUserId()', Type: 1, ServiceID: serviceID
            },
            beforeSend: function () {
                $('.loaders').show();
            },
            success: function (data) {
                // Get the object from the controller to get the id
                $('.loaders').hide();
                alert("success");

            },
            error: function (data) {
                alert(data.responseText);
                alert("Sorry we couldn't reserve that for you, please try again.");
            }
        });

    }

    function updateView(dateTime) {
        $.ajax({
            type: "GET",
            url: "/User/ServicesSlot/",
            data: {date: dateTime},
            success: function (data) {
                $("#services").empty();
                $("#services").html(data); //the HTML I returned from the controller
            },
            error: function (errorData) { onError(errorData); }
        });
    }

    $(function () {
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
        });

        $('.datepicker').datepicker().on('changeDate', function (ev) {
            updateView($('.datepicker').val());

        });

        //Initialise any date pickers
    });



</script>