﻿@model List<ReservationFramework.Models.ServiceViewModel>

@{
    int i = 0;
}

@foreach (ReservationFramework.Models.ServiceViewModel service in Model.ToList())
{
    <div class="col-md-4">
        <h4 class="text-primary">@service.Name</h4>
        <table class="table table-inverse">
            <thead>
                <tr class="table-info">
                    <th>#</th>
                    <th>-</th>
                    <th>Time</th>
                    <th>$$$</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ReservationFramework.Models.CellsViewModel time in service.TimeSlots)
                {
                    <tr>
                        <th scope="row">@(++i)</th>
                        <td><a class="btn btn-success" disabled="@(time.isReserved || time.isDisabled)" id="@(service.ID)_@(i)" starttime="@time.StartTime" endtime="@time.EndTime" href="" onclick="sendReservation(@(service.ID), @(i))">Reserve</a></td>
                        <td>@time.Time</td>
                        <td>@time.Price</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}