﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reservation Framework</h1>
    <p class="lead">This is an awsome Reservation Framework that will adapt all the reservation systems in the world! .</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Facilities</h2>
        <p>
            A Facility has to be created, a facility handles many branches.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Facilities")">Push Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">  
        <h2>Cities</h2>
        <p>Then add needed cities to your system</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Cities")">Push Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Branches</h2>
        <p>A branch has multiple services provided for the customers that can ber reserved</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Branches")">Push Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>Service is the unit that can be reserved e.g court, table or saloon</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","ProductServices")">Push Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Timeslots</h2>
        <p>Timeslot is the reserved time which the facility offer to the customers</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","TimeSlots")">Push Me! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservations</h2>
        <p>Simply a reservation that contains the information of the user + servince + timeslot</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Reservations")">Push Me! &raquo;</a></p>
    </div>
</div>