﻿@model ReservationFramework.Models.Service

@{
    ViewBag.Title = "Reserve";
}

<h2>Reserve</h2>


@{
    IEnumerable<reservation> reservations = court.Reservations.Where(r => r.Date.ToShortDateString() == ViewBag.Date && r.isDeleted == false);

    // Calculate the number of free slots in every court.
    int freeSlots = 0;

    double rating = court.Rate;

    DateTime dateValue;

    if (DateTime.TryParse(ViewBag.Date, out dateValue) && Convert.ToDateTime(ViewBag.Date) < DateTime.Today)
    {
    // THIS IF STATEMENT IS ONLY: to determine if the user choosed a valid date or not.
    <p>@Resources.PleaseChooseDate</p>
    }
    else
    {
    <div style="visibility: hidden;" id="test" class="loading"></div>
    <ul>
        <li id="slots_list" class="col-lg-7">
            <p hidden id="court_id">@court.Id</p>
            @foreach (var time in court.Times.OrderBy(t => t.OpenTime))
            {
                // Calculate the number of slots in each court.
                double openTime = time.OpenTime.TotalHours;
                double closeTime = time.CloseTime.TotalHours;

                // Check if the close time is 0.0, then it means 00:00:00, the time should be converted to 24 to calculate the slots correctly.
                if (closeTime == 0.0)
                {
                    closeTime = 24.0;
                }

                double slotPeriod = time.SlotPeriod.TotalHours;

                // Display the information to the user.
                // The 's' at the end of the variables are for the TimeSpan type only.
                TimeSpan openTimes = time.OpenTime;
                TimeSpan closeTimes = time.CloseTime;
                TimeSpan slotPeriods = time.SlotPeriod;

                // Calculate the number of slots in a day.
                double slots = Math.Abs(openTime - closeTime);
                slots = slots / slotPeriod;



                // The duration of a slot to display for the user.
                double slotStartTime = openTime;
                double slotEndTime = slotStartTime + slotPeriod;

                TimeSpan slotStartTimes = openTimes;
                TimeSpan slotEndTimes = slotStartTimes.Add(slotPeriods);
                <div class="col-md-12" style="display: table">
                    @for (int i = 0; i < slots; i++)
                    {
                        //////ladda-button" data-style="zoom-in"><span class="ladda-label">@Resources.Login</span>
                        // Get the list of reservations for a specific court.
                        var query = reservations.Where(r => r.StartTime == slotStartTimes);
                        bool isReserved = false;
                        string a = DateTime.Now.ToShortTimeString();
                        // Check of the query has a result.
                        if (query.Count() != 0)
                        {
                            isReserved = true;
                        }

                        String slot = string.Format("{0}:{1:00}", slotStartTimes.Hours, slotStartTimes.Minutes) + " - " + string.Format("{0}:{1:00}", slotEndTimes.Hours, slotEndTimes.Minutes);
                        if (isReserved)
                        {
                            <button disabled="disabled" id="slots_period" type="button" class="btn btn-primary ladda-button" value="">@slot</button>
                        }
                        // If the time has passed of the reservation in the current day
                        else if (DateTime.Today.ToShortDateString().Equals(ViewBag.Date) && slotStartTimes.Hours < DateTime.Now.Hour)
                        {
                            <button disabled="disabled" id="slots_period" type="button" value="" class="btn btn-primary ladda-button" style="background-color: #BABABA">@slot</button>
                        }
                        else
                        {
                            freeSlots++;
                            <button onclick="$('#slots_period_selected').attr('id','slots_period');saveReservationInfo(event, @court.Id);" class="btn btn-primary ladda-button" value="@slot" data-style="zoom-in" id="slots_period"><span onclick="$(this).parent().click();" id="slot_text" class="ladda-label">@slot</span></button>
                        }

                        slotStartTimes = slotStartTimes.Add(slotPeriods);
                        slotEndTimes = slotEndTimes.Add(slotPeriods);
                    }
                </div>

            }
        </li>
    </ul>
    }
    }

